# hello-world
hello-world/obj/
hello-world/bin/

# hamming
hamming/bin/
hamming/obj/

# reverse-string
reverse-string/obj/
reverse-string/bin/

# two-fer
two-fer/obj/
two-fer/bin/

# pangram
pangram/obj/
pangram/bin/

# acronym
acronym/obj/
acronym/bin/

# isogram
isogram/obj/
isogram/bin/

# simple-calculator
Simple-Calculator/CalculatorEngine.Test/obj/
Simple-Calculator/CalculatorEngine.Test/bin/
Simple-Calculator/simple/SimpleCalc/obj/
Simple-Calculator/simple/SimpleCalc/bin/